**Q 1.1** WAP to print your name three times.

In [1]:
print("Ujjwal Thapa\n" * 3)

Ujjwal Thapa
Ujjwal Thapa
Ujjwal Thapa

**Q 2.1** WAP to add three numbers and to print the result.

In [ ]:
a = 56
b = -99
c = 41
total = a + b + c
print(total)

-2

**Q 2.2** WAP to concatenate three strings and to print the result.

In [ ]:
a = "string1"
b = " string_2"
c = "string 3...END"
conc = a + b + c
print(conc)

string1 string_2string 3...END

**Q 3.1** WAP to input two strings from the user and to concatenate them.

In [ ]:
str1 = input("Enter the first string : ")
str2 = input("Enter the second string : ")
conc = str1 + str2
print(conc)

Enter the first string : Tokerov
Enter the second string :  .. Juliet
Tokerov .. Juliet

**Q 3.2** WAP to input two numbers from the user and to add them.

In [ ]:
num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the second number : "))
total = num1 + num2
print(total)

Enter the first number : -9
Enter the second number : 65
56

**Q 4.1** WAP to print the multiplication tables of 7 and 9.

In [ ]:
for i in range(1, 11) :
  print("7 x", i, " = ", 7*i, "\t9 x", i, " = ", 9*i)

7 x 1  =  7 	9 x 1  =  9
7 x 2  =  14 	9 x 2  =  18
7 x 3  =  21 	9 x 3  =  27
7 x 4  =  28 	9 x 4  =  36
7 x 5  =  35 	9 x 5  =  45
7 x 6  =  42 	9 x 6  =  54
7 x 7  =  49 	9 x 7  =  63
7 x 8  =  56 	9 x 8  =  72
7 x 9  =  63 	9 x 9  =  81
7 x 10  =  70 	9 x 10  =  90

**Q 4.2** WAP to display the multiplication table of a number *n*, inputted by the user.

In [ ]:
n = int(input("Enter a number : "))
for i in range (1, 11):
  print(n, "x", i, " = ", n*i)

Enter a number : 6
6 x 1  =  6
6 x 2  =  12
6 x 3  =  18
6 x 4  =  24
6 x 5  =  30
6 x 6  =  36
6 x 7  =  42
6 x 8  =  48
6 x 9  =  54
6 x 10  =  60

**Q 4.3** WAP to add up all the numbers from 1 to *n*, inputted by the user.

In [ ]:
n = int(input("Enter a number : "))
total = 0
for i in range (1, n+1) :
  total += i
print(total)

Enter a number : 17
153

**Q 5.1** WAP to find the greatest among three inputted numbers using the *max()* function and to display it.

In [ ]:
a = int(input("Enter number 1 : "))
b = int(input("Enter number 2 : "))
c = int(input("Enter number 3 : "))
greatest = max(a, b, c)
print(greatest)

Enter number 1 : 5
Enter number 2 : -7
Enter number 3 : 19
19

**Q 5.2** WAP to add all numbers divisible by 7 and 9 from 1 to *n*, given by the user.

In [2]:
divisible = int(input("Enter number upto which you want sum of numbers divisible by 7 and 9 : "))
sum2 = sum([i for i in range(divisible) if i % 7 == 0 and i % 9 == 0])
print(f"\nSum of all number divisible by 7 and 9 between 1 and {divisible} : {sum2}")

Enter number upto which you want sum of numbers divisible by 7 and 9 : 80

Sum of all number divisible by 7 and 9 between 1 and 80 : 63

**Q 5.3** WAP to add all prime numbers from 1 to *n*, given by the user.

In [3]:
def isPrime(num):
    if num == 0 or num == 1:
        return False
    elif num == 2:
        return True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime = int(input("Enter a number to find prime numbers up to : "))
answer = [i for i in range(2, prime + 1) if isPrime(i)]
print(f"\nPrime numbers up to {prime} are {answer}")

Enter a number to find prime numbers up to : 78

Prime numbers up to 78 are [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73]

**Q 6.1** WAP using function that add all odd numbers from 1 to *n*, given by the user.

In [4]:
n = int(input("Enter number upto which you want sum of all odd numbers : "))
sum_odd = sum([i for i in range(n) if i % 2 != 0])
print(f"\nSum of all odd numbers between 1 and {n} : {sum_odd}")

Enter number upto which you want sum of all odd numbers : 8

Sum of all odd numbers between 1 and 8 : 16

**Q 6.2** WAP using functions that adds up the all prime numbers from 1 to *n* given by the user.

In [5]:
primesum = int(input("Enter a number to find the sum of prime numbers upto : "))
answersum = sum([i for i in range(prime) if isPrime(i)])
print(f"\nSum of prime numbers upto {primesum} is {answersum}")

Enter a number to find the sum of prime numbers upto : 89

Sum of prime numbers upto 89 are 712