# Assignment 2

Ques 1)\
Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80]. \
i. WAP to add 200 and 300 to L.   
ii.  WAP to remove 10 and 30 from L. 
iii. WAP to sort L in ascending order.  
iv.  WAP to sort L in descending order.

In [7]:
# i
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("After adding 200 and 300:", L)

# ii
L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)

# iii
L.sort()
print("Sorted in ascending order:", L)

# iv
L.sort(reverse=True)
print("Sorted in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

Ques 2)\
Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and  perform the following operations using tuple functions:  
-   Identify the highest score and its index in the tuple 
-   Find the lowest score and count how many times it appears.  
-   Reverse the tuple and return it as a list.
-  Check if a specific score ‘76’ (input by the user) is present in the tuple and 
print its first occurrence index, or a message saying it’s not present.

In [9]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

print(f"Highest score in the tuple is at {max(scores)} at index {scores.index(max(scores))}")

print(f"The lowest score in the tuple is {min(scores)} and it occurs {scores.count(min(scores))} time(s)")

reverse_scores = [i for i in reversed(scores)]
print(f"Scores tuple reversed : {reverse_scores}")

n = int(input("Enter the score you want to check if it exists or not: "))
if(n in reverse_scores):
    print(f"{n} exists in the Scores tuple.")
else:
    print(f"{n} does not exist in the scores tuple.")

Highest score in the tuple is at 92 at index 5
The lowest score in the tuple is 45 and it occurs 2 time(s)
Scores tuple reversed : [45, 58, 92, 89, 45.4, 76, 89.5, 45]
76 exists in the Scores tuple.

Ques 3)\
WAP to create a list of 100 random numbers between 100 and 900. Count and print the: \
(i) All odd numbers \
(ii) All even numbers \
(iii) All prime numbers

In [6]:
import random

def isPrime(x):
    if x < 2:
        return False
    for i in range(2, int(x**0.5) + 1):
        if x % i == 0:
            return False
    return True

numbers = []
for i in range(100):
    numbers.append(random.randint(100, 900))

even_numbers = [number for number in numbers if number % 2 == 0]
odd_numbers = [number for number in numbers if number % 2 != 0]
prime_numbers = [number for number in numbers if isPrime(number)]

print(f"List of 100 numbers generated randomly within the range 100 and 900: {numbers}")
print(f"Even numbers in the list: {even_numbers}")
print(f"Odd numbers in the list: {odd_numbers}")
print(f"Prime numbers in the list: {prime_numbers}")

List of 100 numbers generated randomly within the range 100 and 900: [450, 588, 147, 646, 107, 572, 146, 524, 569, 594, 164, 755, 283, 625, 661, 585, 643, 676, 734, 865, 439, 500, 164, 214, 556, 183, 856, 811, 300, 207, 775, 849, 455, 857, 664, 545, 889, 451, 122, 887, 727, 599, 499, 734, 541, 302, 889, 437, 703, 892, 361, 137, 318, 269, 422, 343, 412, 388, 392, 162, 468, 230, 179, 165, 843, 830, 167, 681, 766, 734, 448, 899, 880, 530, 624, 803, 196, 128, 870, 672, 190, 695, 131, 114, 540, 657, 546, 431, 564, 526, 174, 619, 173, 839, 585, 649, 567, 330, 629, 369]
Even numbers in the list: [450, 588, 646, 572, 146, 524, 594, 164, 676, 734, 500, 164, 214, 556, 856, 300, 664, 122, 734, 302, 892, 318, 422, 412, 388, 392, 162, 468, 230, 830, 766, 734, 448, 880, 530, 624, 196, 128, 870, 672, 190, 114, 540, 546, 564, 526, 174, 330]
Odd numbers in the list: [147, 107, 569, 755, 283, 625, 661, 585, 643, 865, 439, 183, 811, 207, 775, 849, 455, 857, 545, 889, 451, 887, 727, 599, 499, 541, 889, 437, 703, 361, 137, 269, 343, 179, 165, 843, 167, 681, 899, 803, 695, 131, 657, 431, 619, 173, 839, 585, 649, 567, 629, 369]
Prime numbers in the list: [107, 569, 283, 661, 643, 439, 811, 857, 887, 727, 599, 499, 541, 137, 269, 179, 167, 131, 431, 619, 173, 839]

**Ques 4 Consider the following two sets, A and B, representing scores of two teams in multiple matches.**

A = {34, 56, 78, 90} and B = {78, 45, 90, 23}

**WAP to perform the following operations using set functions:**

i.  **Find the unique scores achieved by both teams (union of sets).**

ii. **Identify the scores that are common to both teams (intersection of sets).**

iii. **Find the scores that are exclusive to each team (symmetric difference).**

iv. **Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.**

v.  **Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.**

In [ ]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

print(f"Unique Scores by both teams: {A.union(B)}")
print(f"Intersect of scores: {A.intersection(B)}")
print(f"Scores Exclusive to each team: {A.symmetric_difference(B)}")
print(f"\nIs team A's scores a subset of team B's scores? {A.issubset(B)}")
print(f"Is team B's scores a superset of team A's scores? {B.issuperset(A)}")

X = int(input("Enter a score to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from set A. Updated set A:", A)
else:
    print(f"Score {X} is not present in set A.")

Write a program to rename a key city to a loca on in the following dictionary.

In [11]:
sample_dict = {
    "name": "Kelly",
    "age":  25,
    "salary" : 8000,
    "city": "New York"
}

sample_dict.pop("city")
sample_dict.update({"location" : "New York"})
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}